@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.boxijo{
  padding: 4rem;
  text-align: center;
  width: 110rem;
  background: #5F6F52;
  color: #E0E6E9;
}

:root{
  --main: #86A789;
  --bg: #fff;
  --white: #fff;
  --black: #171616;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Chau Philomene One', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 10rem;
  color: var(--bg);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.learn{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.learn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #86A789;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.details{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.details::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #5F6F52;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.bts{
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  display: inline-block;
  background: #5F6F52;
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.bts::before{
  align-items: center;
  justify-content: center;
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #e3be87;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.learn:hover::before{
  width: 100%;
}
.details:hover::before{
  width: 100%;
}


/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 9%;
}

.header .navbar a{
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Roboto';
  color: var(--black);
  margin: 3rem;
}
header .logo{
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--main);
}
.header .navbar a{
  font-size: 2rem;
  font-family: 'Roboto';
  color: var(--black);
  margin: 3rem;
}
.header .navbar a:hover{
  color: var(--main);
}

#menu-btn{
  display: none;
}
/* end */

/* home */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #86A789;
  background-position: top;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  color: var(--white);
  font-size: 200px;
  color: #171616;
  line-height: 1.4;
  font-weight: 400;
}
.home .text-container h6{
  text-align: center;
  font-family: 'Roboto'; /*ga sesuai font diatas*/
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  padding-left: 400px; 
}
.home .wrapper a{
  position: absolute;
  left: 92rem;
  top: 60%;
  font-family: 'Roboto'; /*ga sesuai font diatas*/
  background-color: #5F6F52;
  font-size: 20px;
  line-height: 1.4;

}
/* end */

/* about */

.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 2.7rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/* end */

/* gallery */

.gallery{
  background: #86A789;
}

.gallery .slide .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.gallery .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
  color: var(--white);
}

/* end */

/* intro */

.app {
  background: var(--main);
  padding: 10rem 7% 1.4rem;
  margin-bottom: 2rem;
  /* margin-top: 1rem; */
}

.app h1 {
  color: #000;
  text-align: left;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 2.3rem;
  color: hsl(0, 0%, 0%);
  margin-left: 4.2rem;
  font-family: "League Spartan";
}
.app h2 {
  padding: 8rem 7% 1.4rem;
}

.app .row {
  display: flex;
}

.app .row .intro-img {
  flex: 1 1 30rem;
  position: right;
  margin-left: 3rem;
}
.app .row .intro-img img {
  width: 89%;
  padding-left: 25%;
}

.app .row .content {
  margin-top: 10rem;
  flex: 1 1 35rem;
  padding: 0 0.5rem;
  margin-left: 10rem;
}

.app .row .content h3 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: "Lucidity Condensed" /* gasesuai font */;
  text-align: center;
  border: 3px solid #5f6f52ed;
  background-color: #5f6f52;
  border-radius: 25px;
}

.app .row .content p {
  margin-top: 2.3rem;
  /* margin-bottom: 0.8rem; */
  font-size: 2rem;
  line-height: 1.6;
  color: #000;
  font-family: "corporative" /* gasesuai font */;
  text-align: center;
}

/* feature */

.feature .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.feature .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.feature .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature .box-container .box:hover img{
  transform: scale(1.1);
}

.feature .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.feature .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.feature .box-container .box .content h3{
  text-align: center;
  font-size: 2.5rem;
  color: var(--black);
}

.feature .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

/* feature */

.feature .container .inner-box {
  border: 1px solid #e0e6e9;
  background-color: #e0e6e9;
  margin-top: -80px;
  /* float: inline-end; */
}

.feature {
  background-color: #86a789;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #86a789;
}

.feature h3 {
  font-size: 2rem;
  color: #8b7e5e;
  text-shadow: 1px 1px 3px rgb(#939986 50%);
}

.feature p {
  margin-top: 1rem;
  text-align: center;
  max-width: 80rem;
  margin: auto;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 4rem;
}

.feature .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  color: #4d3e2d;
}

.feature-card {
  text-align: center;
  padding-bottom: 4rem;
}

.feature-card img {
  /* border-radius: 50%; */
  width: 20%;
  /* display: center; */
  justify-content: space-between;
  margin: 40px 40px 0 40px;
}
/* end */

/* feature2 */

.feature2 .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.feature2 .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.feature2 .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature2 .box-container .box:hover img{
  transform: scale(1.1);
}

.feature2 .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.feature2 .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.feature2 .box-container .box .content h3{
  text-align: center;
  font-size: 2.7rem;
  color: var(--black);
}

.feature2 .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

.feature2 .container .inner-box {
  border: 1px solid #e0e6e9;
  background-color: #e0e6e9;
  margin-top: -80px;
  /* float: inline-end; */
}

.feature2 {
  background-color: #86a789;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #86a789;
}

.feature2 h3 {
  font-size: 2rem;
  color: #8b7e5e;
  text-shadow: 1px 1px 3px rgb(#939986 50%);
}

.feature2 p {
  margin-top: 1rem;
  text-align: center;
  max-width: 80rem;
  margin: auto;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 4rem;
}

.feature2 .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  color: #4d3e2d;
}

.feature2-card {
  text-align: center;
  padding-bottom: 4rem;
}

.feature2-card img {
  /* border-radius: 50%; */
  width: 20%;
  /* display: center; */
  justify-content: space-between;
  margin: 40px 40px 0 40px;
}
/* end */

/* Ticket */
body {
  background-color: #86A789; 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.kotak1 h1 {
  margin: 0;
  font-size: 90px;
  margin-top: 1.5;
}
.kotak1{
  width: 100%;
  height: 700px;
  background: #A3CBAF;
}
.ticket {
  background:#86A789 ;
}
.kotak1 {
  display: flex;
  align-items: center;
}
.box {
  text-align: center;
}
.tiketcuy{
  height: 100%;
}
.tulisan{
  display: flex;
  align-items: left;
}
.gatau{
  height: 100%;
}
/*.text-container {
  margin-left: 50px; 
}
.your-paragraph {
  font-size: 100px; 
  line-height: 1.5; 
}
.your-container p {
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1.2; 
}
.your-container {
  text-align: center; 
}
.your-container p {
  display: block; 
  margin: 20px 0; 
  font-size: 16px; 
  line-height: 1.5;
}
.teks-besar {
  font-size: 20px; 
}
div p {
  font-size: 20px; 
}
/* end */

/* tim */
.tim{
  background: var(--main);
  height: 100%;
}
.tim .row h2{ 
  font-size: 10rem;
  margin-bottom: 0.5rem;
  color: #fff;
  text-align: center;
  border: 3px solid #5f6f52ed;
  background-color: #5f6f52;
  border-radius: 25px;

}
.tim .row .top-text{ 
  font-size: 2.5rem;
  font-family: 'Roboto';
}
.tim .box-container{
  margin-top : 10rem;
  display: grid;
  margin : 10px 10px 10px 10px;
  grid-template-columns: repeat(4, 1fr); /* Membuat 4 kolom yang sama lebar */
  grid-template-rows: repeat(4, 200px); /* Membuat 4 baris dengan tinggi 100 piksel */
  gap: 30px; /* Jarak antara grid box */
}

.tim .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tim .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tim .box-container .box:hover img{
  transform: scale(1.1);
}

.tim .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 5px;
  z-index: 1;
  transition: 0.5s ease;
}

.tim .box-container .box .content h3{
  text-align: center;
  font-size: 2.5rem;
  color: #f7c7c7;
}
.tim .box-container .box .content p{
  text-align: center;
  font-size: 1.5rem;
  color: #f7c7c7;
}

.tim .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

.close{
  background: #86A789;
  padding-bottom: 10px;
} 

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.gatau {
  text-align: center;
  background-color:#A3CBAF ;
}
#list {
  background-color:#A3CBAF;
  margin: 0;
}

.list-title {
  position: relative;
  width: 250px;
  height: 100px;
  margin-left: 41%;
  top: -50px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: #5F6F52;
}

.list-title h3 {
  font-size: 100px;
}

@media (max-width:100px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:800px){
  .grid{
    grid-template-columns: repeat(1,1fr);
  }
}

/* end */

/* media queries */

@media(max-width: 991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 2rem;
  }
  section{
    padding: 8rem 2rem;
  }
}

@media (max-width: 768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .home{
    background-position: left;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .deco-title{
    display: none;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 4rem;
  }

}